{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            {% if legend != "Update Project Assignment" %}
            <div class="form-group">
                {{ form.ename.label(class="form-control-label") }}
                {% if form.ename.errors %}
                    {{ form.ename(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.ename.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {% if legend == "Update Project Assignment" %}
                        {{ form.ename(class="form-control form-control-lg", disabled="disabled") }}

                    {% else %}
                         {{ form.ename(class="form-control form-control-lg") }}
                    {% endif %}
                   
                {% endif %}
            </div>  
            {% endif %}
            {% if legend == "Update Project Assignment" %}
            <div class="form-group">
                {{ form.employeeName.label(class="form-control-label") }}
                 {{ form.employeeName(class="form-control form-control-lg", disabled="disabled") }}
            </div>    
            {% endif %}    
             <div class="form-group">
                {{ form.pname.label(class="form-control-label") }}
                {% if form.pname.errors %}
                    {{ form.pname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.pname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.pname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.hours.label(class="form-control-label") }}
                {% if form.hours.errors %}
                    {{ form.hours(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.hours.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.hours(class="form-control form-control-lg") }}
                {% endif %}
            </div>       

     
			
			
          
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}