{% extends "layout.html" %}
{% block content %}
   
	  {% for row in result %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ row.fname }}&nbsp;{{ row.minit }}&nbsp;{{ row.lname }} - {{row.pname}}</a> <br/>
              <small class="text-muted">Total Project Hours - {{row.hours}}</small>
              <br/>
              <button type="button" class="btn btn-danger btn-sm m-1 float-right" data-toggle="modal" data-target="#deleteModal" onclick="deleteProjectAssignment({{row.ssn}}, {{row.pno}})">
              Delete</button>
              <a href="{{ url_for('updateassignment', empid=row.ssn, pno=row.pno) }}" type="button" class="btn btn-info float-left"  >Update</a>
             
            </div>
           
          </div>
        </article>
     {% endfor %}

     <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Project Assignment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <b>Are you sure you want to delete the Project Assignment?</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="/project/removeassignment" method="POST">
           
            <input type="hidden" name="ssn" id = "ssn" value=""/>
            <input type="hidden" name="pno" id = "pno" value=""/>
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="updateForm">
     <form action="/project/updateassignment" id="updateForm" method="GET">
       <input type="hidden" name="updatessn" id = "updatessn" value=""/>
        <input type="hidden" name="updatepno" id = "updatepno" value=""/>
         
     </form>
  </div>
  <script>

    function updateAssignment(ssn, pno)
    {
      document.getElementById("updatessn").value = ssn;
      document.getElementById("updatepno").value = pno;
      document.getElementById("updateForm").submit();
    }
 
	function deleteProjectAssignment(ssn, pno)
  {
  
    document.getElementById("ssn").value = ssn;
    document.getElementById("pno").value = pno;
  }

  </script>
{% endblock content %}